h1{
    font-size: 55px;
    color: rgba(24, 56, 238, 0.925);
    text-shadow: 10px 4px 9px rgba(0,0,0,0.84);
}
body{
    background-color: rgba(231, 230, 150, 0.788);
    text-align: center;
    background: #f8f355;
    background: #f8f355;
    background: #ffe8d1;
    background: linear-gradient(325deg, rgba(255, 232, 209, 1) 10%, rgba(255, 23, 23, 1) 49%, rgba(255, 232, 212, 1) 94%);

}
strong{
    color: rgb(182, 31, 31);
    font-size: 40px;
}
.papa{  
    width:787px;
    height: 612px ;
    
}

.tc{
    font-family: "Candal", cursive;
    font-size: 25px;
}
.pp{
    font-size: 30px;
    font-family: "Farsan";
    color:rgb(182, 31, 31);
}
.inf{
    font-family: "Farsan";
    font-size: 25px;
    padding: 0px 100px 0px;
    
}
footer{
    height:20px ;
}
.msinf{
    font-style: italic;
    text-decoration: dotted;
}
.fo{
    font-size: 15px;
    font-style: italic;
    float: right;
    position: sticky;
    top: 20px;
}
.ef{
    font-size: 20px;
    font-family: "Candal", cursive;
}.gh{
    color: rgb(182, 31, 31);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-family: "Candal";
    color: brown;
}
header{
    font-size: 25px;
    font-family: "Candal", cursive ;
    color: rgb(24, 20, 235);
}
.gt{
    padding: 7px 14px;
    font-family: "Candal";
    font-size: 16px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 10px 11px 39px 1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 11px 39px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 11px 39px 1px rgba(0,0,0,0.57);
}
    .gt:hover{
    background-color: rgb(1, 235, 118);
    color: rgb(255, 255, 255);
}
tr:hover{
background-color: rgb(0, 0, 0);
color :rgb(115, 235, 46);

}
table{
    border-color: rgb(6, 60, 209);
    background-color: rgb(211, 96, 43)
}
td, th {
    background-color:rgb(255, 255, 255) ;
    
}
.infg{
    font-family: "Farsan";
    font-size: 25px;
    column-count: 2;
-webkit-column-count: 2;
-moz-column-count: 2;
column-gap: 24px;
-webkit-column-gap: 24px;
-moz-column-gap: 24px;
column-rule: 6px double #000000;
-webkit-column-rule: 6px double #000000;
-moz-column-rule: 6px double #000000;
padding: 0px 100px 100px;

}
